<!DOCTYPE html>
<html>
<head>
    <title>
        Ez Todo List
    </title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/main.css" />
    <script src="js/zepto.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script>
	<script type="text/template" id="ListItemTemplate">
		<div>
			<div class='itemTitle <% if(isDone) print('complete')%>'>
				<%= title %>
			</div>
		    <div><%= dateCreated %></div>
	  	</div>
	</script>
	<script type="text/template" id="allListsTemplate">
		<div class="listStruct">
			<div class="listTitle"><%= title %></div>
			<div class="listDescription"><%= description %></div>
			<div class="listDateCreated"><%= dateCreated %></div>
		</div>
	</script>
	<script type="text/template" id="newListTemplate">
		List Name: <input type='text' id='newListTitle' /><br/>
		Description: <input type='text' id='newListDescription' /><br/>
		<button id='submitlist'>Submit</button>
	</script>
</head>
<body>
	<div id="todoApp">
		<h2>EasyTodo</h2>
		<div id="addListDiv"></div>
		<button id="newList">New List</button>
		<div id="viewListDiv"></div>
	</div>
	<script src="js/app.js"></script>
</body>
</html>
