<!DOCTYPE html>
<html>
<head>
    <title>
        Ez Todo List
    </title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/jquery.mobile-1.1.0.min.css" />
    <script src="js/jquery.js"></script>
    <script src="js/jquery.mobile-1.1.0.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script>
	<script type="text/template" id="newListTemplate">
		<div>
			<%= label %>: 
			<input type="text" id="ListName" name="ListName" /> <input type="button" value="Submit" id="submitButton" onClick="CreateNewList();"/>
		</div>
	</script>
	<script type="text/template" id="allListsTemplate">
		<div>
			<%= title %>
		</div>
	</script>
	<script src="js/app.js"></script>
</head>
<body>
	<div data-role="page">
		<div data-role="header">
			<h1>EasyTodo</h1>
		</div>
		<div data-role="content">
			<a href="#" onclick="AddList();" data-role="button">New List</a>
			<div id="addListDiv"></div>
			<div id="viewListDiv"></div>
		</div>
		<div data-role="footer">...</div> 
	</div>
	<script src="js/functions.js"></script>
</body>
</html>
